# Data
satellite_data/
test_set/
docs/
data/
*.tif
*.tiff
requirements.txt

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
env/


# Jupyter
.ipynb_checkpoints/

# ML artifacts
*.h5
*.pt
*.pth
*.ckpt
*.onnx
extract.py
checkpoints/
runs/
logs/
wandb/
mlruns/

# OS / editor
.DS_Store
.vscode/
.idea/
